name: Plugin Distribution

on:
  workflow_dispatch:
  
  push:
    tags: [ '*' ]

jobs:

  build_and_release:
      name: Build and Release [${{ matrix.os }}]
      runs-on: ${{ matrix.os }}
      permissions: write-all
      strategy:
        matrix:
          os: [ windows-latest ]
        fail-fast: false
        
      steps:
      
      - uses: actions/checkout@v2

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        working-directory: ./
        run: |
          choco install cmake

      - name: Build
        if: runner.os == 'Windows'
        run: |
          cd XJMusicPlugin
          Setup.bat
          cd..
          Compress-Archive -Path XJMusicPlugin/ -DestinationPath XJMusicPlugin.zip

      - name: Upload to release page (Windows)
        if: runner.os == 'Windows'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPlugin.zip
          asset_name: XJMusicPlugin.zip
          tag: ${{ github.ref }}
          overwrite: true
