name: Plugin Distribution

on:  
  push:
    tags: [ '*' ]

jobs:

  build_and_release:
      name: Build and Release [${{ matrix.os }}]
      runs-on: ${{ matrix.os }}
      permissions: write-all
      strategy:
        matrix:
          os: [ windows-latest, ubuntu-latest, macos-13 ]
        fail-fast: false
        
      steps:
      
      - uses: actions/checkout@v2


      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        working-directory: ./
        run: |
          choco install cmake 

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        working-directory: ./
        run: |
          sudo apt-get install -y cmake

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        working-directory: ./
        run: |
          brew install cmake
          
          
      - name: Build (Windows)
        if: runner.os == 'Windows'
        working-directory: XJMusicPlugin/
        run: |
          ./Setup.bat

      - name: Build (Linux)
        if: runner.os == 'Linux'
        working-directory: XJMusicPlugin/
        run: |
          sudo bash Setup.sh

      - name: Build (macOS)
        if: runner.os == 'macOS'
        working-directory: XJMusicPlugin/
        run: |
          bash Setup.sh

    
      - name: Compress plugin (Window)
        if: runner.os == 'Windows'
        run: |
          Compress-Archive -Path XJMusicPlugin/ -DestinationPath XJMusicPlugin.zip
          cp -r XJMusicPlugin/ Examples/Showcase/Plugins/XJMusicPlugin/
          Compress-Archive -Path Examples/ -DestinationPath XJMusicPluginExamples.zip

      - name: Compress plugin (Linux)
        if: runner.os == 'Linux'
        run: |
          tar -czvf XJMusicPlugin.tar.gz XJMusicPlugin/
          mkdir -p Examples/Showcase/Plugins/XJMusicPlugin/
          cp -r XJMusicPlugin/ Examples/Showcase/Plugins/
          tar -czvf XJMusicPluginExamples.tar.gz Examples/

      - name: Compress plugin (macOS)
        if: runner.os == 'macOS'
        run: |
          zip -r XJMusicPlugin.zip XJMusicPlugin/
          mkdir -p Examples/Showcase/Plugins/XJMusicPlugin/
          cp -r XJMusicPlugin/ Examples/Showcase/Plugins/
          zip -r XJMusicPluginExamples.zip Examples/

          
      - name: Upload just plugin to release page (Windows)
        if: runner.os == 'Windows'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPlugin.zip
          asset_name: xjmusic-plugin-${{ github.ref_name }}-windows.zip
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload just plugin to release page (Linux)
        if: runner.os == 'Linux'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPlugin.tar.gz
          asset_name: xjmusic-plugin-${{ github.ref_name }}-linux.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
          
      - name: Upload just plugin to release page (macOS)
        if: runner.os == 'macOS'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPlugin.zip
          asset_name: xjmusic-plugin-${{ github.ref_name }}-macOs.zip
          tag: ${{ github.ref }}
          overwrite: true


      - name: Upload plugin with examples to release page (Windows)
        if: runner.os == 'Windows'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPluginExamples.zip
          asset_name: xjmusic-plugin-examples-${{ github.ref_name }}-windows.zip
          tag: ${{ github.ref }}
          overwrite: true 

      - name: Upload plugin with examples to release page (Linux)
        if: runner.os == 'Linux'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPluginExamples.tar.gz
          asset_name: xjmusic-plugin-examples-${{ github.ref_name }}-linux.tar.gz
          tag: ${{ github.ref }}
          overwrite: true

      - name: Upload plugin with examples to release page (macOS)
        if: runner.os == 'macOS'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: XJMusicPluginExamples.zip
          asset_name: xjmusic-plugin-examples-${{ github.ref_name }}-macOs.zip
          tag: ${{ github.ref }}
          overwrite: true
